* {
    box-sizing: border-box;
}

#jumbo {
    background-color: lightskyblue;
}

#space_trivia {
    text-align: center;
}

.last_row {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-image: url("../images/background.jpg");
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}